<div class="d-flex justify-content-between">
    <h3>Users</h3>
    <button nz-button nzType="primary" (click)="newMetricForm()">Add User</button>
</div>

<nz-table #basicTable [nzData]="data">
  <thead>
    <tr>
      <th>User Id</th>
      <th>Username</th>
      <th>Email</th>
      <th>User Type</th>
      <th>Status</th>
      <th>Role</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data?.id}}</td>
      <td>{{data?.username}}</td>
      <td>{{data?.email}}</td>
      <td>{{data?.userType}}</td>
      <td>{{data?.userStatus ? "Active": "Inactive"}}</td>
      <td>{{data?.userRole.role}}</td>
      <td>
        <a class="btn btn-primary btn-sm" (click)="editMetricForm(data)">Edit</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a class="btn btn-primary btn-sm" (click)="deleteMetric(data?.id)">Delete</a>
      </td>
    </tr>
  </tbody>
</nz-table>