<form
    nz-form
    nzLayout="horizontal"
    [formGroup]="form"
    (ngSubmit)="submitFormData()"
>
    <nz-form-item>
        <nz-form-label [nzSpan]="5">Asset Name</nz-form-label>
        <nz-form-control [nzSpan]="19" nzErrorTip="Please input Asset Name">
            <input nz-input formControlName="name" placeholder="Asset Name" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5">Asset Type</nz-form-label>
        <nz-form-control [nzSpan]="19">
            <nz-select
                id="assetTypeId"
                formControlName="assetTypeId"
                nzPlaceHolder="Select Asset Type"
            >
                <nz-option nzValue="1" nzLabel="Type"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    
    <label for="">Asset Properties: </label>
    <table class="w-100">
        <ng-container *ngIf="properties" formArrayName="properties">
            <tr *ngFor="let propForm of properties.controls; let i = index">
                <ng-container [formGroup]="propForm">
                    <td>
                        <input nz-input formControlName="key" placeholder="Property" />
                    </td>
                    <td>
                        <input nz-input formControlName="value" placeholder="Value" />
                    </td>
                    <td>
                        <a class="btn btn-danger btn-sm" (click)="deleteProp(i)">Remove</a>
                    </td>
                </ng-container>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="d-flex w-100 justify-content-center">
                        <button nz-button nzType="primary" type="button" (click)="addProp()">Add</button>
                    </div>
                </td>
            </tr>
        </ng-container>
    </table>

    
    <div class="d-flex justify-content-end">
        <button nz-button nzType="primary">Submit</button>
    </div>
    
    
</form>