.viewer {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    & .controls {
        z-index: 2;
        position: absolute;
        left: 0.5rem;
        bottom: .5rem;
        // transform: translateX(-50%);

        display: flex;
        align-items: center;
        justify-content: center;

        max-width: 100vw;
        opacity: 1;
        transition: all 500ms;

        &.invisible {
            bottom: -5rem;
            opacity: 0;
        }

        & .group {
            display: flex;
            align-items: center;
            margin-right: 1rem;

            max-width: 20rem;
            opacity: 1;
            transition: all 500ms;

            &.no-margin {
                margin: 0;
            }

            &.invisible {
                max-width: 0;
                opacity: 0;
                margin: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            & button,
            & ::ng-deep .button {
                position: relative;
                top: auto;
                left: auto;
                margin-right: 2px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &.invisible {
            visibility: hidden;
        }
    }

    & .top-left {
        z-index: 4;
        position: absolute;
        left: 1rem;
        top: 1rem;
    }

    & .selected-toolbar {
        z-index: 2;
        position: absolute;
        top: 1rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;

        background: rgba(8, 8, 8, 0.856);
        border-radius: 0.5rem;
        color: #fff;

        & div {
            padding: 0.5rem;
        }
    }

    ::ng-deep {
        .asset-label {
            padding: 5px;
            background: rgba(0, 0, 0, 0.468);
            color: hwb(0 100% 0%);
        }
    }
    
    ::ng-deep {
        .ant-btn {
            color: #fff;
            border: none;
            opacity: 0.8;
            
            &.toolbar-btn {
                background: rgb(20, 20, 33);
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 1rem;
    
                &:hover {
                    transform: translateY(-0.2rem);
                }
            }
    
            &.exit-btn{
                background: rgb(20, 20, 33);
                width: 3rem;
                height: 3rem;
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    
        .ant-message-info {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}

.modal-container {
    width: 100%;
    height: 100%;
    // position: relative;
}


.progress-overlay {
    top:0;
    pointer-events: all;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: #EEF9FE;
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 3;

    transition: width 2s, height 2s;

    & h3 {
        position: absolute;
    }

    & span {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 40%;
        padding: 1rem;

        & img {
            max-height: 100%;
            max-width: 100%;
        }

        & nb-progress-bar {
            width: 100%;

            & ::ng-deep .progress-container {
                height: .5rem !important;
            }
        }

        & .label {
            text-align: center;
            width: 100%;
            margin-top: .5rem;

            &.percentage {
                font-size: .6rem;
                margin-bottom: 0;
            }
        }
    }
}

.logo-overlay {
    position: absolute;
    background-color: transparent;
    height: auto;
    width: 10%;
    max-width: 75px;
    z-index: 1;

    top: unset;
    left: unset;
    right: .5rem;
    bottom: .5rem;
    transform: translate(0, 0);
}

.asset-details-panel {
    color: #fff;

    h2 {
        color: #fff;
    }

    nz-divider {
        border-color: #fff;
    }

    .asset-props-table{
        width: 100%;
        // border: 1px solid rgb(38, 38, 38);
        
        th, td {
            padding: 1rem;
        }

        th {
            background: rgb(17, 17, 17);
            width: 35%;
        }

        td {
            background: rgb(38, 38, 38);
        }
        
    }
}