<div #viewerContainer class="viewer">
    <div #model id="modal-container" class="modal-container"></div>

    <div *ngIf="progress?.state < 2" class="progress-overlay">
        <h3 *ngIf="progress?.state == -1" class="text-danger" [@fadeIn]>
            Error occurred while loading active model
        </h3>

        <span *ngIf="progress?.state == 1" [@fadeOutOnLeave]>
            <!-- <img class="#logo" src="../../../assets/icons/icon-512x512.png"> -->
            <ng-container>
                <nz-progress *ngIf="progress?.progress < 100" [nzPercent]="progress?.progress" nzType="circle"></nz-progress>
                <label class="label">Loading model - Demo...</label>
            </ng-container>
        </span>
    </div>

    <div class="logo-overlay">
        <span>
            <nz-progress *ngIf="progress?.progress < 100" [nzPercent]="progress?.progress" [nzShowInfo]="false"></nz-progress>
        </span>
    </div>

    <div class="top-left">
        <button nz-button nzType="primary" class="exit-btn" nzShape="circle" (click)="exitViewer()">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </button>
    </div>

    <div class="selected-toolbar" *ngIf="selectedDbId">
        <div>
            <span>Asset Name</span>
        </div>
        <div>
            <button nz-button nzType="primary" nzSize="small" (click)="openAssetDetailDrawer()">
                Details
            </button>
        </div>
    </div>

    <div class="controls" [class.invisible]="false">
        <div class="group additional">
        </div>
        
        <div class="group">
            <button nz-button nzType="default" nz-tooltip nzTooltipTitle="Orbit" class="toolbar-btn" #nav (click)="orbit()" tag="ORBIT" nbTooltip="Orbit" status="info">
                <!-- <nb-icon icon="compass" class="far" pack="font-awesome"></nb-icon> -->
                <i class="fa fa-compass" aria-hidden="true"></i>
            </button>
            <button nz-button nzType="default" nz-tooltip nzTooltipTitle="Pan" class="toolbar-btn" #nav (click)="pan()" tag="PAN" nbTooltip="Pan">
                <!-- <nb-icon icon="hand-paper" class="far" pack="font-awesome"></nb-icon> -->
                <i class="fa fa-hand-paper" aria-hidden="true"></i>
            </button>
            <button nz-button nzType="default" nz-tooltip nzTooltipTitle="Zoom" class="toolbar-btn" #nav (click)="zoom()" tag="ZOOM" nbTooltip="Zoom">
                <!-- <nb-icon icon="search-plus" class="fas" pack="font-awesome"></nb-icon> -->
                <i class="fa fa-search-plus" aria-hidden="true"></i>
            </button>
            <button nz-button nzType="default" nz-tooltip nzTooltipTitle="First Person" class="toolbar-btn" #nav tag="FIRST_PERSON" 
            (click)="toggleFirstPerson()" nbTooltip="First Person View">
                <!-- <nb-icon icon="person-outline"></nb-icon> -->
                <i class="fa fa-male" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>

<nz-drawer
      [nzClosable]="false"
      [nzVisible]="viewAssetDetails && !!selectedDbId"
      nzPlacement="right"
      [nzWidth]="500"
      (nzOnClose)="closeAssetDetailDrawer()"
    >
      <ng-container *nzDrawerContent>
        <div class="asset-details-panel">
            <h1>
                Chiller 124
            </h1>
        </div>
        
      </ng-container>
</nz-drawer>