<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">
      <div class="sidebar-logo">
        <a href="https://ng.ant.design/" target="_blank">
          <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
          <h1>Ant Design Of Angular</h1>
        </a>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/dashboard">Welcome</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/auth/login">Login</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/viewer">Viewer</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a>Basic Form</a>
            </li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <div class="app-header">
          <div>
            <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <i class="trigger"
                 nz-icon
                 [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></i>
            </span>
          </div>

          <div class="header-right">
            <span class="user-name" nz-dropdown nzTrigger="click" [nzDropdownMenu]="profileContext">
              Umar Uzman
            </span>
            <nz-avatar nzText="U" nz-dropdown nzTrigger="click" [nzDropdownMenu]="profileContext"></nz-avatar>
          </div>
        </div>
      </nz-header>
      <nz-content>
        <nz-card class="inner-content">
          <ng-content select="router-outlet"></ng-content>
        </nz-card>
      </nz-content>
    </nz-layout>
  </nz-layout>

  <nz-dropdown-menu #profileContext="nzDropdownMenu">
    <ul nz-menu class="profile-context">
      <li nz-menu-item><i nz-icon nzType="user" nzTheme="outline"></i> <span>Profile</span></li>
      <li nz-menu-item><i nz-icon nzType="logout" nzTheme="outline"></i> <span>Logout</span></li>
    </ul>
  </nz-dropdown-menu>
  